@import url('./reset.css');

/**{outline: 1px solid yellowgreen;}*/



.wrap{
    width: 100%;
}

/* ---- header ---- */

.header1{
    background: whitesmoke;
    width: 100%;
}

/* social media */


.sharelink{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    height:32px;
    display: flex;
    align-items: center;
    justify-content: right;
    background: whitesmoke;
    padding: 10px;
    box-sizing: border-box; /*!*/
}

.sharelink li:first-child {
    position: relative;
  }

  .sharelink li:first-child:after {
    position: absolute; /* */
    content: ""; /* */
    background-color: whitesmoke;
    width: 1px;
    height: 20px;
    top: 5px;
    right: 0;
  }

.sharelink li a{
    display: flex;
    align-items: center;
    padding: 5px;
}

.sharelink li:first-child a {
    color: #4267b2;
  }

  .sharelink a:hover {
    text-decoration: underline;
  }
  
  .sharelink a img {
    padding-right: 5px;
    width: 20px;
  }

  .twitter{
    border-left: 1px solid rgb(93, 91, 91);
    padding-left: 2px;
}

.sharelink img{
    width: 20px;
}

.header{
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    display: flex;
    height: 76px;
    box-sizing: border-box;

}

.header h1{
    background-image: url('https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png');
    background-repeat: no-repeat;
    block-size: contain;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
    height: 50px;
    transition: all 0.2s;
}



.header ul{
    display: flex;
    align-items: center;
    padding: 5px;
    
}

.header a{
    padding-right: 5px;
    padding-bottom: 12px;
    color: black;
}

.header a:hover{
    border-bottom: 4px solid green;
}

.banner{
    background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

/*background image 做底圖用 */
.banner h1{
    padding: 40px 0px 40px 0px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    position: relative;
    padding: 20px;
    display: block;
    width: 100%;
    line-height: 1.3;
    text-align: left;
    font-size: 50px;
}   

.product{
    display: flex;
    margin: 10px auto;
    max-width: 1100px;
    gap:30px;
    justify-content: center;
    padding: 20px;
    min-width: 500;
}

.product_html, .product_design, .product_jQuery{
    padding: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
    text-align: center;
    width: 100%;
    border-radius: 5px;
 
}

h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

 p{
    text-align: left;
    line-height: 1.4;
}

.jQuery-feature{
    padding-left: 10px 0px 10px 80px;
    
    display: flex;
    flex-direction: column;
    text-align: left;
}

h5{
    padding-bottom: 5px;
    padding-right: 35px;
    text-align: left;
}

.jQuery-feature li{
    line-height: 1.5;
    list-style:disc inside none;
}

h3{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

section{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding:30px 60px 100px 60px;
    box-sizing: border-box;

}

section table {
    width: 100%;
    max-width: 920px;
    margin: 0px auto;

}

section h3{
    text-align: center;
    font-size: 24px;
    font-weight: bold;

}
th{
    background-color: #f7f7f7;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 20px;
    text-align: left;
}
td{
    padding: 10px 20px;
    border-bottom: 1px solid lightgray ;
}

.contact{
    background: linear-gradient( #009871, #00654b);
    padding: 36px;
}

.contact h3{
    padding-bottom: 5px;
    padding-top: 20px;
    color: white;
    text-align: center;
    font-size: 36px;
}

.contact .contact_input{
    padding: 20px 30px;
    min-width: 900px;
    margin: auto;
    display: flex;
    justify-content:center;
    gap: 30px;
}

.contact .contact_input textarea {
    width: 50%;
    height: 200px;
    border-radius: 3px;
    border: 1px solid #aaa;
  }

  /*.list {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}

.list li {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list label {
  font-size: 12px;
}

.list li input {
  border-radius: 3px;
  border: 1px solid #aaa;
  line-height: 2;
}

.list li button {
  margin-left: auto;
  width: 100px;
  line-height: 2;
  border-radius: 3px;
  border: 2px solid #0c9;
  background: #0c9;
  color: white;
}

.list li button:hover,
.list li button:active {
  border: 2px solid black;
}
*/

.list{
    width:50%;
    height: 200px;
    display:flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
}

.list li{
    display: flex;
    flex-direction: column;
    gap:5px
}

.list label {
    font-size: 15px;
}

.list li input{
    border-radius: 3px;
    border: 1px solid black;
}

.list li button{
    margin-left: auto;
    width: 100%;
    line-height: 2px;
    border-radius: 3px;
    border: 2px solid #0c9;
    background: #0c9;
    color: white;
}

.list li button:hover,
.list li button:active {
  border: 2px solid black;
}



footer{
    width: 100%;
    background-color: #f7f7f7;
    height: 60px;
}

footer > div{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px 10px;
}

footer ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer ul li a{
    color: rgba(25, 73, 122, 0.7);
}
footer ul li a:hover {
    color: #00CC99;
  }